* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#usernameDisplay {
    font-size: 1.5rem; 
    font-weight: bold; 
    color: #ff2121; 
}
body {
    background-color: #fffbe1;
    color: #333;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 50px 0;
    height: 100px;
    background-image: url("images/music.jpg");
    width: 100%;
}
.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    height: 60px;
    position: relative;
    margin: 10px;
}

.logo {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    font-family: 'Mind Meld', sans-serif;
}

.search-box {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.user-info {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}


.search-container input {
    padding: 10px;
    width: 300px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.search-container button {
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.search-container button:hover {
    background-color: #555;
}

.banner{
    background-color:  #fffbe1;
    font-size: 1.5em;
    text-align: center;
    color: rgb(243, 0, 97);
    border-radius: 20px;
    width: 35%;
}
@import url('https://fonts.cdnfonts.com/css/jf-rock');
@import url('https://fonts.cdnfonts.com/css/mind-meld');
@import url('https://fonts.cdnfonts.com/css/street-shade');
@import url('https://fonts.cdnfonts.com/css/janda-curlygirl-chunky');
@import url('https://fonts.cdnfonts.com/css/amuse-bouche');
.name{
    font-size: 1.3em;
    text-align: center;
}
.rock {
    font-family: 'JFRockOutcrop', sans-serif;
}
.rap {
    font-size: 1.5em;
    font-family: 'Street Shade', sans-serif;
}
.pop {
    font-size: 1.2em;
    font-family: 'Janda Curlygirl Chunky', sans-serif;
    font-family: 'Janda Curlygirl Pop', sans-serif;      
}
.edm {
    font-size: 1.5em;
    font-family: 'Amuse-Bouche', sans-serif;
}
.vpop {
    font-size: 1.3em;
    font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    display: flex;
    height: 80vh; /* Chiều cao tối đa */
}

.sidebar {
    width: 5%;
    background-color: #fffbe1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.category {
    width: 100%;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #383838;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-weight: bold;
}

.category:hover {
    background-color: #7a7a7a;
}
.sidebar a.active {
    background-color:  #ffffff;
    font-weight: bold;
    border-radius: 5px;
    color: white;
}
.dropdown {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown-content {
    width: 100%;
    display: none;
    flex-direction: column;
}

.dropdown-content a {
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 0.7em;
    text-decoration: none;
    text-align: center;
    border-bottom: 1px solid #ffffff;
}

.dropdown-content a:hover {
    background-color: #555;
}

.dropdown:hover .dropdown-content {
    display: flex;
}
.content {
    width: 85%;
    padding: 20px;
    background-color: #fff;
}
.section-group {
    display: flex;
    justify-content: space-between;
}

.box {
    width: 25%; 
    background: white;
    padding: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: justify;
    border-radius: 20px;
    margin: 10px;
    height: auto;   
    display: flex;
    flex-direction: column;
    overflow: hidden; 
}
.favorite-container {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 8px;
}

.favorite-text {
    font-size: 14px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    margin-left: 60px;
}
.boxabove {
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 15px;
    text-align: justify;
    font-weight: bold;
}
.image {
    width: 100%;
    height: 200px; 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    width: 100%; 
    height: 100%;
    object-fit: cover;
}
a {
    text-decoration: none; 
    color: black; 
}

a:hover {
    color: rgb(60, 60, 247); 
}

a:active {
    color: rgb(251, 74, 74);
}

.boxbelow {
    text-indent: 10px;
    margin-left: 15px;
    background: white;
    margin-top: 0px;
    padding-left: 15px;
    text-align: justify;
    line-height: 1.6;

}
.stream { 
    font-family : Times, 'Times New Roman', serif;
    font-size: 1.0em;
    font-weight: bold;
}
.boxbelow li{
    color: hwb(0 0% 32%);
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.boxbelow li::marker{
    content: "🎵";
}
.textcontent{
    padding: 10px;
    color: #534e4e;
    display: grid;
    gap: 5px;
    width: 100%;
    overflow: hidden;
}
@import url('https://fonts.cdnfonts.com/css/magical-mystery-tour-outline-shadow');
.boxcontent1 {
    display: flex;
    align-items: center;
    flex: 1 1 100%;
    min-width: 200px; 
    min-height: 60px;
    background: #f4f4f4;
    padding: 5px;
    border-radius: 8px;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 1.15em;
    font-family: 'Magical Mystery Tour Outline Shadow', sans-serif;
}

.boxcontent2 {
    width: 50px;
    height: 50px;
    overflow: hidden; 
    display: flex;
    background: #ddd; 
    border-radius: 5px;
}

.boxcontent2 img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.linkcontent {
    margin-left: 10px; 
}

.linkcontent a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.linkcontent a:hover {
    color: blue;
}
.pagination{
    width: 100%;
    text-align: center;
}
.pagination a{
    color: black;
    text-decoration: none;
    padding: 8px 15px;
    display: inline-block;
}
.pagination a.active{
    background-color: hsl(120, 100%, 70%);
    font-weight: bold;
    border-radius: 5px;
}
.pagination a:hover:not(.active){
    background-color: hsl(0, 0%, 70%);
    border-radius: 5px;
}
.footer {
    background-color: #222;
    color: #fff;
    padding: 15px 30px;
    font-family: Arial, sans-serif;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-content .left {
    text-align: left;
    flex: 1;
}

.footer-content .right {
    text-align: right;
}

.footer-content a {
    color: #00bfff;
    text-decoration: none;
    font-weight: bold;
}

.footer-content a:hover {
    text-decoration: underline;
}

